body{padding-top:50px;}
header{background-color:#222;position:fixed;width:100%;left:0;top:0;}
header *{display:inline;}
header h1{color:white;padding:0 20px 0;}
header a{padding:0 1.2% 0;color:#bbb;}
ul{list-style-type:none;margin:0;padding:0;}
a{font-family: Arial, sans-serif;font-size:15px;text-decoration:none;color:black;}
a:hover{text-decoration:none;color:white;}
.circle{height:60px;width:60px;margin:10px;margin:2px 5px;width=60px;height=60px;background-color:pink;-webkit-border-radius:50%;moz-border-radius:50%;border-radius:50%;}
#census .circle{border-style:dotted;border-width:6px;border-color:red;width:48px;height:48px;}
.clu1{background-color:#82CAFA !important;}
.clu2{background-color:#5FFB17 !important;}

#legend *{padding:0;height:30px;margin:5px 0 0;}
#legendO, #legendC{height:20px;width:20px;background-color:gray;-webkit-border-radius:50%;moz-border-radius:50%;border-radius:50%;}
#legendC{border-style:dotted;border-width:3px;border-color:black;width:14px;height:14px;}
#footer{margin-left:950px;}
